window {
  background: rgba (0, 0, 0, 0.75);
	border-top-left-radius: 24;
	border-top-right-radius: 6;
	border-bottom-right-radius: 24;
	border-bottom-left-radius: 6;
	border-style: solid;
	border-width: 2px;
	border-color: #EBAAEE
}

#box {
	padding: 5px 0px;
}


button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: transparent;
}

button {
	padding: 4px;
	margin: 5px;
	color: #eee;
  font-size: 12px
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 6;
}

button:focus {
	box-shadow: none
}
